<!DOCTYPE html>
<html>
<head>
    <title>Resume Upload</title>
    <style>
        body {
            background-color: #CD5C5C;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        h1 {
            color: white;

        }
    </style>
</head>
     <body>
     <center>
    <h1>
        <font face="Baskerville" size="15" >MindQuest</font>
    </h1></center>
    <a href="/upload">Upload a Resume</a>
</body>
</html>
