<!DOCTYPE html>
<html>
<head>
    <title>Upload a Resume</title>
    <style>
        body {
            background-color: #CD5C5C;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        h1 {
            color: white;
        }
    </style>
</head>
<body>
    <center>
    <h1>
        <font face="Baskerville" size="15">Upload Your Resume</font>
    </h1></center>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="resume">
        <input type="submit" value="Upload">
    </form>
</body>
</html>
